<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagamento efetuado</title>
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <h1>TecnoStore</h1>
    </nav>
    <main>

      <h1>Pagamento realizado!</h1>
        <p>
             {{ card.name }} R$ {{ card.price }}<br>
            Total: R$ {{ card.price }}
            TecnoStore®
        </p>
    </main>
</body>
</html>