<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro-Login</title>
</head>
<body>
        <nav>
            <h1>TecnoStore</h1>
        </nav>
        <main>
            <form method="POST" action="http://127.0.0.1:5000">
                <label>Nome</label>
                <input type="text" placeholder="Nome" name="name" required>
                <label>E-mail</label>
                <input type="text" placeholder="Nome" name="email" required>
                <label>CPF</label>
                <input type="text" placeholder="Nome" name="cpf" required>
                <label>Nascimento</label>
                <input type="text" placeholder="Nome" name="birth" required>
                <label>Saldo</label>
                <input type="text" placeholder="Nome" name="cash" required>
                <button type="submit">Cadastrar e logar</button>
            </form>
        </main>
</body>
</html>